In [390]:
import pandas as pd
data = pd.read_csv('telecom_customer_churn.csv')

In [391]:
data.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,1,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,1,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,0,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,0,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,0,Dissatisfaction,Network reliability

In [392]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6589 entries, 0 to 6588
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        6589 non-null   object
 1   Gender                             6589 non-null   object
 2   Age                                6589 non-null   int64
 3   Married                            6589 non-null   object
 4   Number of Dependents               6589 non-null   int64
 5   City                               6589 non-null   object
 6   Zip Code                           6589 non-null   int64
 7   Latitude                           6589 non-null   float64
 8   Longitude                          6589 non-null   float64
 9   Number of Referrals                6589 non-null   int64
 10  Tenure in Months                   6589 non-null   int64
 11  Offer                              6589 non-null   object
 12  Phone Service                      6589 non-null   object
 13  Avg Monthly Long Distance Charges  5945 non-null   float64
 14  Multiple Lines                     5945 non-null   object
 15  Internet Service                   6589 non-null   object
 16  Internet Type                      5245 non-null   object
 17  Avg Monthly GB Download            5245 non-null   float64
 18  Online Security                    5245 non-null   object
 19  Online Backup                      5245 non-null   object
 20  Device Protection Plan             5245 non-null   object
 21  Premium Tech Support               5245 non-null   object
 22  Streaming TV                       5245 non-null   object
 23  Streaming Movies                   5245 non-null   object
 24  Streaming Music                    5245 non-null   object
 25  Unlimited Data                     5245 non-null   object
 26  Contract                           6589 non-null   object
 27  Paperless Billing                  6589 non-null   object
 28  Payment Method                     6589 non-null   object
 29  Monthly Charge                     6589 non-null   float64
 30  Total Charges                      6589 non-null   float64
 31  Total Refunds                      6589 non-null   float64
 32  Total Extra Data Charges           6589 non-null   int64
 33  Total Long Distance Charges        6589 non-null   float64
 34  Total Revenue                      6589 non-null   float64
 35  Customer Status                    6589 non-null   int64
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(7), object(22)
memory usage: 1.9+ MB

In [393]:
data = data.drop(['Customer ID', 'Churn Category', 'Churn Reason', 'Latitude', 'Longitude', 'Zip Code'], axis=1)

In [394]:
obj_columns = data.select_dtypes('object').columns

In [395]:
data = data.dropna()

In [396]:
# Check distribution before null values inputation.
# To decide between mean(), median(), & mode().

#import matplotlib.pyplot as plt
#data['Avg Monthly Long Distance Charges'].hist()
#data['Avg Monthly GB Download'].hist()

In [397]:
# Fill-in null values in numeric columns
#data['Avg Monthly Long Distance Charges'] = data['Avg Monthly Long Distance Charges'].fillna(data['Avg Monthly Long Distance Charges'].mean())
#data['Avg Monthly GB Download'] = data['Avg Monthly GB Download'].fillna(data['Avg Monthly GB Download'].median())

In [398]:
# Dichotomous data = Only 2 Categories. E.g. Yes/No

In [399]:
x = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [400]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

num_columns = x.select_dtypes(['float64', 'int64']).columns

x[num_columns] = sc.fit_transform(x[num_columns])
x[num_columns] = sc.transform(x[num_columns])

In [401]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder, StandardScaler

le = LabelEncoder()
for col in obj_columns:
    x[col] = le.fit_transform(x[col])

In [402]:
correll = data.corr()
correll.style.background_gradient()

In [428]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=30, random_state=56)

In [429]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()

reg.fit(x_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [430]:
x_train

,Gender,Age,Married,Number of Dependents,City,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,...,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
5679,1,-2.765081,0,-0.923187,543,-0.881279,-1.485315,5,0,-1.848922,...,1,0,1,0,-3.830687,-1.273114,-0.292593,-0.323445,-1.027100,-1.290001
596,0,-2.685445,1,-0.923187,314,-0.195097,-1.387952,2,0,-1.797808,...,0,2,0,0,-3.821408,-1.272234,-0.292593,-0.311235,-1.025185,-1.289307
1736,0,-2.761763,0,-0.923187,543,-0.881279,-1.469942,4,0,-1.811324,...,1,0,1,1,-3.843545,-1.272993,-0.292593,-0.323445,-1.026807,-1.289903
663,0,-2.662219,1,-0.923187,717,-0.652552,-1.382828,0,0,-1.829951,...,1,0,1,0,-3.789991,-1.272027,-0.292593,-0.323445,-1.025635,-1.289217
4547,1,-2.731899,1,-0.923187,439,-0.766916,-1.457985,0,0,-1.703100,...,1,1,0,0,-3.797817,-1.272830,-0.292593,-0.323445,-1.026045,-1.289742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650,0,-2.834762,1,-0.923187,373,-0.766916,-1.478482,5,0,-1.875118,...,1,0,1,0,-3.867135,-1.273071,-0.292593,-0.323445,-1.027074,-1.289973
1823,0,-2.844716,0,-0.923187,543,-0.881279,-1.425531,3,0,-1.801396,...,0,0,1,0,-3.789655,-1.272462,-0.292593,-0.152498,-1.025945,-1.289494
4672,0,-2.778353,1,0.366829,361,-0.538188,-1.386244,2,0,-1.820760,...,1,2,0,1,-3.764052,-1.271934,-0.292593,-0.323445,-1.025531,-1.289152
567,0,-2.711991,0,-0.923187,739,-0.881279,-1.481899,5,0,-1.705262,...,1,0,1,1,-3.830464,-1.273086,-0.292593,-0.323445,-1.026868,-1.289965
3621,0,-2.668855,1,-0.923187,841,-0.652552,-1.367455,1,0,-1.698480,...,0,2,1,1,-3.762599,-1.271683,-0.292593,-0.176919,-1.022852,-1.288770

In [431]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4571 entries, 5679 to 3621
Data columns (total 31 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             4571 non-null   int64
 1   Age                                4571 non-null   float64
 2   Married                            4571 non-null   int64
 3   Number of Dependents               4571 non-null   float64
 4   City                               4571 non-null   int64
 5   Number of Referrals                4571 non-null   float64
 6   Tenure in Months                   4571 non-null   float64
 7   Offer                              4571 non-null   int64
 8   Phone Service                      4571 non-null   int64
 9   Avg Monthly Long Distance Charges  4571 non-null   float64
 10  Multiple Lines                     4571 non-null   int64
 11  Internet Service                   4571 non-null   int64
 12  Internet Type                      4571 non-null   int64
 13  Avg Monthly GB Download            4571 non-null   float64
 14  Online Security                    4571 non-null   int64
 15  Online Backup                      4571 non-null   int64
 16  Device Protection Plan             4571 non-null   int64
 17  Premium Tech Support               4571 non-null   int64
 18  Streaming TV                       4571 non-null   int64
 19  Streaming Movies                   4571 non-null   int64
 20  Streaming Music                    4571 non-null   int64
 21  Unlimited Data                     4571 non-null   int64
 22  Contract                           4571 non-null   int64
 23  Paperless Billing                  4571 non-null   int64
 24  Payment Method                     4571 non-null   int64
 25  Monthly Charge                     4571 non-null   float64
 26  Total Charges                      4571 non-null   float64
 27  Total Refunds                      4571 non-null   float64
 28  Total Extra Data Charges           4571 non-null   float64
 29  Total Long Distance Charges        4571 non-null   float64
 30  Total Revenue                      4571 non-null   float64
dtypes: float64(12), int64(19)
memory usage: 1.1 MB

In [432]:
y_pred = reg.predict(x_test)

In [433]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)
# TP  FP
# FN  TN

array([[ 8,  2],
       [ 4, 16]])

In [434]:
from sklearn.metrics import classification_report, accuracy_score

accuracy_score(y_test, y_pred)

0.8

In [435]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.67      0.80      0.73        10
           1       0.89      0.80      0.84        20

    accuracy                           0.80        30
   macro avg       0.78      0.80      0.78        30
weighted avg       0.81      0.80      0.80        30